body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*container fields*/
.container-fluid {
  display: flex;
  justify-content: center;
}

.container {
  width: 95%;
}

.align-items-center {
  display: flex;
  align-items: center;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-1 {
  float: left;
  width: 16.66667%;
}

.col-2 {
  float: left;
  width: 33.33333%;
}

.col-3 {
  float: left;
  width: 50%;
}

.col-4 {
  float: left;
  width: 66.66667%;
}

.col-5 {
  float: left;
  width: 83.33333%;
}

.col-6 {
  float: left;
  width: 100%;
}

/*margins*/
.margin-1 {
  margin: 0.25rem;
}

.margin-2 {
  margin: 0.5rem;
}

.margin-3 {
  margin: 1rem;
}

.margin-4 {
  margin: 1.5rem;
}

.margin-5 {
  margin: 3rem;
}

.margin-6 {
  margin: 4.5rem;
}


/*paddings*/
.padding-1 {
  padding: 0.25rem;
}

.padding-2 {
  padding: 0.5rem;
}

.padding-3 {
  padding: 1rem;
}

.padding-4 {
  padding: 1.5rem;
}

.padding-5 {
  padding: 3rem ;
}

.padding-6 {
  padding: 4.5rem;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}


/*colors and backgrounds*/
.navbar-dark {
  background-color: #222222;
  color: white;
}

.text-center {
  text-align: center;
}

/*card*/
.card {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  margin: 0 auto;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
  line-height: 1.4;
}

.card-incomes {
  background-color: #008080;
  color: #ffffff;
}

.card-expenses {
  background-color: #762727;
  color: #ffffff;
}

.card-total {
  background-color: #222a3f;
  color: #ffffff;
}


/*buttons*/
.button {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-primary {
  background-color: #007bff;
  color: #ffffff;
}

.button-secondary {
  background-color: #6c757d;
  color: #ffffff;
}

.button-success {
  background-color: #28a745;
  color: #ffffff;
}

.button-danger {
  background-color: #dc3545;
  color: #ffffff;
}

.button:hover {
  background-color: #e0e0e0;
}


.empty-container {
  background-color: #d7d7d7;
}

